<!DOCTYPE html>
<html lang="en" class="body-full-height">
    <head>        
        <!-- META SECTION -->
        <title>Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css"/>
        <!-- EOF CSS INCLUDE -->

        <!-- Scripts for Logentries -->
        <script src="frontend/js/le.min.js"></script>
        <script>
            // Set up le.js
            LE.init('02da12dd-d09a-4c93-86da-ec1deb507831');
        </script>


    </head>
    <body>
        
        <div class="login-container lightmode">
            <div class="col-md-1">
                <div class= "home-button">
                    <a href="/"><button class="btn btn-info btn-block btn-facebook"> Home </button></a>
                </div>
            </div>
        
            <div class="login-box animated fadeInDown">
                <div class="login-logo"></div>
                <div class="login-body">
                    <div class="login-title"><strong>Log In</strong></div>
                    <form class="form-horizontal" method="POST">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="email" name="email" id="email" class="form-control" placeholder="E-mail"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="/forgot" class="btn btn-link btn-block">Forgot your password?</a>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-info btn-block">Log In</button>
                        </div>
                    </div>
                    <div class="login-subtitle">
                        Don't have an account yet? <a href="/signup">Create an account</a>
                    </div>
                    </form>
                </div>
                <div class="login-footer">
                    <div class="pull-left">
                        &copy; 2016 Receptional
                    </div>
                    <div class="pull-right">
                        <a href="/about">About</a> |
                        <a href="#">Privacy</a> |
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
            
        </div>
        <script>
            LE.log("Admin Login page was loaded");
        </script>

    </body>
</html>






