.sign-in{
	display: inline;
	position: relative;
	top:100px;
	left:45%;

}
.sign-in-forms{
	position: relative;
	top:150px;
	left: 45%;
	width: 15%;

}

.sign-up-forms{

	position: relative;
	top:150px;
	left: 45%;
	width: 15%;
}