<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>404 Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css"/>
    <!-- EOF CSS INCLUDE -->
</head>
<body>
<!-- PAGE CONTENT -->
<div class="page-content">


    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <div class="error-container">
                    <div class="error-code">404</div>
                    <div class="error-text">page not found</div>
                    <div class="error-subtext">Unfortunately we're having trouble loading the page you are looking for. Please wait a moment and try again or use action below.</div>
                    <div class="error-actions">
                        <div class="row">
                            <div class="col-md-6">
                                {{#if user._admin_id}}
                                    <button class="btn btn-info btn-block btn-lg" onClick="location.href = '/dashboard_employee';">Back to dashboard</button>
                                {{else if user.companyname}}
                                    <button class="btn btn-info btn-block btn-lg" onClick="location.href = '/dashboard_admin';">Back to dashboard</button>
                                {{else}}
                                    <button class="btn btn-info btn-block btn-lg" onClick="location.href = '/dashboard_peter';">Back to dashboard</button>
                                {{/if}}
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary btn-block btn-lg" onClick="history.back();">Previous page</button>
                            </div>
                        </div>
                    </div>
                    <div class="error-subtext">Or you can use search to find anything you need.</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" placeholder="Search..." class="form-control"/>
                                <div class="input-group-btn">
                                    <button class="btn btn-primary"><span class="fa fa-search"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTENT -->
</body>
</html>
