<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META SECTION -->
    <title>About Us</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- END META SECTION -->

    <link rel="stylesheet" type="text/css" href="css/styles.css" media="screen" />

    <!-- Script for Rollbar (Captures JS exceptions) -->
    <script>
        var _rollbarConfig = {
            accessToken: "91a2c9cd50784fb88107e52b567f71e3",
            captureUncaught: true,
            payload: {
                environment: "test"
            }
        };
        !function(r){function o(e){if(t[e])return t[e].exports;var n=t[e]={exports:{},id:e,loaded:!1};return r[e].call(n.exports,n,n.exports,o),n.loaded=!0,n.exports}var t={};return o.m=r,o.c=t,o.p="",o(0)}([function(r,o,t){"use strict";var e=t(1).Rollbar,n=t(2);_rollbarConfig.rollbarJsUrl=_rollbarConfig.rollbarJsUrl||"//d37gvrvc0wt4s1.cloudfront.net/js/v1.8/rollbar.min.js";var a=e.init(window,_rollbarConfig),i=n(a,_rollbarConfig);a.loadFull(window,document,!_rollbarConfig.async,_rollbarConfig,i)},function(r,o){"use strict";function t(r){return function(){try{return r.apply(this,arguments)}catch(o){try{console.error("[Rollbar]: Internal error",o)}catch(t){}}}}function e(r,o,t){window._rollbarWrappedError&&(t[4]||(t[4]=window._rollbarWrappedError),t[5]||(t[5]=window._rollbarWrappedError._rollbarContext),window._rollbarWrappedError=null),r.uncaughtError.apply(r,t),o&&o.apply(window,t)}function n(r){var o=function(){var o=Array.prototype.slice.call(arguments,0);e(r,r._rollbarOldOnError,o)};return o.belongsToShim=!0,o}function a(r){this.shimId=++s,this.notifier=null,this.parentShim=r,this._rollbarOldOnError=null}function i(r){var o=a;return t(function(){if(this.notifier)return this.notifier[r].apply(this.notifier,arguments);var t=this,e="scope"===r;e&&(t=new o(this));var n=Array.prototype.slice.call(arguments,0),a={shim:t,method:r,args:n,ts:new Date};return window._rollbarShimQueue.push(a),e?t:void 0})}function l(r,o){if(o.hasOwnProperty&&o.hasOwnProperty("addEventListener")){var t=o.addEventListener;o.addEventListener=function(o,e,n){t.call(this,o,r.wrap(e),n)};var e=o.removeEventListener;o.removeEventListener=function(r,o,t){e.call(this,r,o&&o._wrapped?o._wrapped:o,t)}}}var s=0;a.init=function(r,o){var e=o.globalAlias||"Rollbar";if("object"==typeof r[e])return r[e];r._rollbarShimQueue=[],r._rollbarWrappedError=null,o=o||{};var i=new a;return t(function(){if(i.configure(o),o.captureUncaught){i._rollbarOldOnError=r.onerror,r.onerror=n(i);var t,a,s="EventTarget,Window,Node,ApplicationCache,AudioTrackList,ChannelMergerNode,CryptoOperation,EventSource,FileReader,HTMLUnknownElement,IDBDatabase,IDBRequest,IDBTransaction,KeyOperation,MediaController,MessagePort,ModalWindow,Notification,SVGElementInstance,Screen,TextTrack,TextTrackCue,TextTrackList,WebSocket,WebSocketWorker,Worker,XMLHttpRequest,XMLHttpRequestEventTarget,XMLHttpRequestUpload".split(",");for(t=0;t<s.length;++t)a=s[t],r[a]&&r[a].prototype&&l(i,r[a].prototype)}return r[e]=i,i})()},a.prototype.loadFull=function(r,o,e,n,a){var i=function(){var o;if(void 0===r._rollbarPayloadQueue){var t,e,n,i;for(o=new Error("rollbar.js did not load");t=r._rollbarShimQueue.shift();)for(n=t.args,i=0;i<n.length;++i)if(e=n[i],"function"==typeof e){e(o);break}}"function"==typeof a&&a(o)},l=!1,s=o.createElement("script"),u=o.getElementsByTagName("script")[0],p=u.parentNode;s.crossOrigin="",s.src=n.rollbarJsUrl,s.async=!e,s.onload=s.onreadystatechange=t(function(){if(!(l||this.readyState&&"loaded"!==this.readyState&&"complete"!==this.readyState)){s.onload=s.onreadystatechange=null;try{p.removeChild(s)}catch(r){}l=!0,i()}}),p.insertBefore(s,u)},a.prototype.wrap=function(r,o){try{var t;if(t="function"==typeof o?o:function(){return o||{}},"function"!=typeof r)return r;if(r._isWrap)return r;if(!r._wrapped){r._wrapped=function(){try{return r.apply(this,arguments)}catch(o){throw o._rollbarContext=t()||{},o._rollbarContext._wrappedSource=r.toString(),window._rollbarWrappedError=o,o}},r._wrapped._isWrap=!0;for(var e in r)r.hasOwnProperty(e)&&(r._wrapped[e]=r[e])}return r._wrapped}catch(n){return r}};for(var u="log,debug,info,warn,warning,error,critical,global,configure,scope,uncaughtError".split(","),p=0;p<u.length;++p)a.prototype[u[p]]=i(u[p]);r.exports={Rollbar:a,_rollbarWindowOnError:e}},function(r,o){"use strict";r.exports=function(r,o){return function(t){if(!t&&!window._rollbarInitialized){var e=window.RollbarNotifier,n=o||{},a=n.globalAlias||"Rollbar",i=window.Rollbar.init(n,r);i._processShimQueue(window._rollbarShimQueue||[]),window[a]=i,window._rollbarInitialized=!0,e.processPayloads()}}}}]);
    </script>

    <!-- Scripts for Logentries -->
    <script src="frontend/js/le.min.js"></script>
    <script>
        // Set up le.js
        LE.init({token: '02da12dd-d09a-4c93-86da-ec1deb507831', page_info: 'per-entry'})
    </script>

</head>

<body>
    <!-- page container -->
    <div class="page-container">

        <!-- page header -->
        <div class="page-header">

            <!-- page header holder -->
            <div class="page-header-holder">

                <!-- page logo -->
                <div class="logo">
                    <a href="/">iReceptionist</a>
                </div>
                <!-- ./page logo -->


                <!-- search -->
                <div class="search">
                    <div class="search-button"><span class="fa fa-search"></span></div>
                    <div class="search-container animated fadeInDown">
                        <form action="#" method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search..." />
                                <div class="input-group-btn">
                                    <button class="btn btn-primary"><span class="fa fa-search"></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./search -->

                <!-- nav mobile bars -->
                <div class="navigation-toggle">
                    <div class="navigation-toggle-button"><span class="fa fa-bars"></span></div>
                </div>
                <!-- ./nav mobile bars -->

                <!-- navigation -->
                <ul class="navigation">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    {{#if user}}
                        <li><a href="/logout">Log Out</a></li>
                    {{else}}
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/login">Owner Login</a></li>
                        <li><a href="/subdomain_login">Find Your Company</a></li>
                    {{/if}}
                </ul>
                <!-- ./navigation -->


            </div>
            <!-- ./page header holder -->

        </div>
        <!-- ./page header -->

        <!-- page content -->
        <div class="page-content">

            <!-- page content wrapper -->
            <div class="page-content-wrap bg-light">
                <!-- page content holder -->
                <div class="page-content-holder no-padding">
                    <!-- page title -->
                    <div class="page-title">
                        <h1>About Us</h1>
                        <!-- breadcrumbs -->
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">About Us</li>
                        </ul>
                        <!-- ./breadcrumbs -->
                    </div>
                    <!-- ./page title -->
                </div>
                <!-- ./page content holder -->
            </div>
            <!-- ./page content wrapper -->


            <!-- page content wrapper -->
            <div class="page-content-wrap">
                <!-- page content holder -->
                <div class="page-content-holder">

                    <div class="block-heading block-heading-centralized this-animate" data-animate="fadeInDown">
                        <h2 class="heading-underline">Welcome to Receptional</h2>
                        <div class="block-heading-text">
                            Here are a dedicated group of software engineers whose main goal is to provide you
                            with an excellent experience with Receptional. 
                        </div>
                    </div>

                </div>
                <!-- ./page content holder -->
            </div>
            <!-- ./page content wrapper -->


            <!-- page content wrapper -->
            <div class="page-content-wrap">

                <div class="divider">
                    <div class="box"><span class="fa fa-angle-down"></span></div>
                </div>

                <!-- page content holder -->
                <div class="page-content-holder">

                    <div class="block-heading block-heading-centralized this-animate" data-animate="fadeInDown">
                        <h2 class="heading-underline">Meet Our Team</h2>
                        <div class="block-heading-text">
                            Here is our team! Each individual has put in a lot of hardwork and time to make receptional
                            possible.
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-3 col-sm-3 col-xs-3" style="float: none; margin: 0 auto;">
                            <div class="text-column text-column-centralized this-animate" data-animate="fadeIn" >
                                <div class="text-column-image">
                                    <img src="assets/img/users/user.jpg" alt="John Doe" class="img-circle">
                                </div>
                                <h5>Marvin Chau</h5>
                                <div class="text-column-subtitle">Team Leader</div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
                                <div class="text-column-image">
                                    <img src="assets/img/users/user2.jpg" alt="John Doe" class="img-circle">
                                </div>
                                <h5>Martin Nguyen</h5>
                                <div class="text-column-subtitle">Front-end Lead</div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
                                <div class="text-column-image">
                                    <img src="assets/img/users/user3.jpg" alt="Dmitry Ivaniuk" class="img-circle">
                                </div>
                                <h5>Dennis Kim</h5>
                                <div class="text-column-subtitle">Database Engineer</div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
                                <div class="text-column-image">
                                    <img src="assets/img/users/user4.jpg" alt="Nadia Ali" class="img-circle">
                                </div>
                                <h5>Gabe Maze-Rogers</h5>
                                <div class="text-column-subtitle">Database Engineer</div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
                                <div class="text-column-image">
                                    <img src="assets/img/users/user5.jpg" alt="Brad Pitt" class="img-circle">
                                </div>
                                <h5>Michelle Bui</h5>
                                <div class="text-column-subtitle">UI/UX Designer</div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
                                <div class="text-column-image">
                                    <img src="assets/img/users/user6.jpg" alt="John Doe" class="img-circle">
                                </div>
                                <h5>Kevin Tran</h5>
                                <div class="text-column-subtitle">UI/UX Designer</div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
                                <div class="text-column-image">
                                    <img src="assets/img/users/user7.jpg" alt="Dmitry Ivaniuk" class="img-circle">
                                </div>
                                <h5>Patrick Juan</h5>
                                <div class="text-column-subtitle">Web Developer</div>
                                <div class="text-column-info">
                                    Don't trust this guy. He's the worst on our team.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
                                <div class="text-column-image">
                                    <img src="assets/img/users/user8.jpg" alt="Nadia Ali" class="img-circle">
                                </div>
                                <h5>Kelly Truc Le</h5>
                                <div class="text-column-subtitle">Web Developer</div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
                                <div class="text-column-image">
                                    <img src="assets/img/users/user9.jpg" alt="Brad Pitt" class="img-circle">
                                </div>
                                <h5>Jeremy Leu</h5>
                                <div class="text-column-subtitle">UI/UX Designer</div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
                                <div class="text-column-image">
                                    <img src="assets/img/users/user10.jpg" alt="John Doe" class="img-circle">
                                </div>
                                <h5>Harvey Yu</h5>
                                <div class="text-column-subtitle">Pokemon Master</div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
                                <div class="text-column-image">
                                    <img src="assets/img/users/user11.jpg" alt="Dmitry Ivaniuk" class="img-circle">
                                </div>
                                <h5>Royal Hien</h5>
                                <div class="text-column-subtitle">Security Expert</div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
                                <div class="text-column-image">
                                    <img src="assets/img/users/user12.jpg" alt="Nadia Ali" class="img-circle">
                                </div>
                                <h5>Wingo Zhai</h5>
                                <div class="text-column-subtitle">Public Relations</div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="text-column text-column-centralized this-animate" data-animate="fadeIn">
                                <div class="text-column-image">
                                    <img src="assets/img/users/user13.jpg" alt="Brad Pitt" class="img-circle">
                                </div>
                                <h5>Hilary Louie</h5>
                                <div class="text-column-subtitle">UI/UX Designer</div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- ./page content holder -->
            </div>
            <!-- ./page content wrapper -->

            <!-- page content wrapper -->
            <div class="page-content-wrap bg-light">

                <div class="divider">
                    <div class="box"><span class="fa fa-angle-down"></span></div>
                </div>

                <!-- page content holder -->
                <div class="page-content-holder">

                    <div class="row">

                        <div class="col-md-4">
                            <div class="text-column text-column-centralized this-animate" data-animate="fadeInLeft">
                                <div class="text-column-icon">
                                    <span class="fa fa-star"></span>
                                </div>
                                <h4>Company Mission</h4>
                                <div class="text-column-info">
                                    Receptional's mission is to create an exceptional experience for all users
                                    who decide to use our site. 
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="text-column text-column-centralized this-animate" data-animate="fadeInUp">
                                <div class="text-column-icon">
                                    <span class="fa fa-hand-o-up"></span>
                                </div>
                                <h4>Our Skills</h4>
                                <div class="text-column-info">
                                    As you saw from meeting our team, Receptional has a wide range of skills from 
                                    Web Developers to Public Relations to Pokemon Masters! We are a group of well rounded individuals, that aim create a user-friendly experience. 
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="text-column text-column-centralized this-animate" data-animate="fadeInRight">
                                <div class="text-column-icon">
                                    <span class="fa fa-clock-o"></span>
                                </div>
                                <h4>Work Progress</h4>
                                <div class="text-column-info">
                                    Receptional has all the main features needed for a friendly experience. But we
                                    are never done! Updates and features will be added to make sure the site
                                    is giving users the experience that they are looking for. 
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- ./page content holder -->
            </div>
            <!-- ./page content wrapper -->

        </div>
        <!-- ./page content -->

        <!-- page footer -->
        <div class="page-footer">

            <!-- page footer wrap -->
            <div class="page-footer-wrap bg-darken-gray">
                <!-- page footer holder -->
                <div class="page-footer-holder">

                    <!-- copyright -->
                    <div class="copyright">
                        &copy; 2016 <a href="#">Jackson 5</a> - All Rights Reserved
                    </div>
                    <!-- ./copyright -->

                    <!-- social links -->
                    <div class="social-links">
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-google-plus"></span></a>
                        <a href="#"><span class="fa fa-linkedin"></span></a>
                        <a href="#"><span class="fa fa-vimeo-square"></span></a>
                        <a href="#"><span class="fa fa-dribbble"></span></a>
                    </div>
                    <!-- ./social links -->

                </div>
                <!-- ./page footer holder -->
            </div>
            <!-- ./page footer wrap -->

        </div>
        <!-- ./page footer -->

    </div>
    <!-- ./page container -->

    <!-- page scripts -->
    <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/plugins/mixitup/jquery.mixitup.js"></script>
    <script type="text/javascript" src="js/plugins/appear/jquery.appear.js"></script>

    <script type="text/javascript" src="js/actions.js"></script>
    <!-- ./page scripts -->
</body>

</html>