<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META SECTION -->
    <title>Manage Employees</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css" />
    <!-- EOF CSS INCLUDE -->
</head>

<body>
<!-- START PAGE CONTAINER -->
<div class="page-container">
    <!-- START PAGE SIDEBAR -->
    <div class="page-sidebar">
        <!-- START SIDE-NAVIGATION -->
        <ul class="x-navigation">
            <li class="xn-logo">
                <a href="home">[Company Name]</a>
                <a href="#" class="x-navigation-control"></a>
            </li>
            <li class="xn-profile">
                <a href="#" class="profile-mini">
                    <img src="assets/images/users/avatar.jpg" alt="John Doe" />
                </a>
                <div class="profile">
                    <div class="profile-image">
                        <img src="assets/images/users/avatar.jpg" alt="John Doe" />
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">{{user.companyname}}</div>
                        <div class="profile-data-title">Owner</div>
                    </div>
                </div>
            </li>
            <li class="xn-title">Navigation</li>
            <li class="active">
                <a href="dashboard_admin"><span class="fa fa-dashboard"></span> <span class="xn-text">Overview</span></a>
            </li>
            <li class="active">
                <a href="patient_queue"><span class="fa fa-clock-o"></span> <span class="xn-text">Patient Queue</span></a>
            </li>
            <li class="active">
                <a href="add_employees"><span class="fa fa-users"></span> <span class="xn-text">Manage Employees</span></a>
            </li>
            <li class="active">
                <a href="form"><span class="fa fa-pencil"></span> <span class="xn-text">Edit Form</span></a>
            </li>
            <li class="active">
                <a href="viewform"><span class="fa fa-pencil"></span> <span class="xn-text">View Form</span></a>
            </li>
            <li class="active">
                <a href="#"><span class="fa fa-comments-o"></span> <span class="xn-text">[Slack]</span></a>
            </li>
            <li class="active">
                <a href="settings"><span class="fa fa-cogs"></span> <span class="xn-text">Settings</span></a>
            </li>
        </ul>
        <!-- END SIDE-NAVIGATION -->
    </div>
    <!-- END PAGE SIDEBAR -->

    <!-- PAGE CONTENT -->
    <div class="page-content">

        <!-- START X-NAVIGATION VERTICAL -->
        <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
            <!-- TOGGLE NAVIGATION -->
            <li class="xn-icon-button">
                <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
            </li>
            <!-- END TOGGLE NAVIGATION -->
            <!-- SEARCH -->
            <li class="xn-search">
                <form role="form">
                    <input type="text" name="search" placeholder="Search..." />
                </form>
            </li>
            <!-- END SEARCH -->
            <!-- SIGN OUT -->
            <li class="xn-icon-button pull-right">
                <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
            </li>
            <!-- END SIGN OUT -->
        </ul>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="dashboard_admin">Overview</a></li>
            <li class="active">Manage Employees</li>
        </ul>
        <!-- END BREADCRUMB -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">
            <div class="row">
                <div class="col-md-12">
                    <!-- START MANAGE EMPLOYEES DATATABLE -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Manage Employees</h3>
                            <ul class="panel-controls">
                                <li>
                                    <button class="btn btn-default" data-toggle="modal" data-target="#addEmployeeCSV"> Import Data</button>
                                </li>
                                <li>
                                    <button class="btn btn-default" data-toggle="modal" data-target="#addEmployee">Add Employee</button>
                                </li>
                            </ul>
                            <div class="btn-group pull-right">
                                <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Data</button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'json',escape:'false'});"><img src='img/icons/json.png' width="24" /> JSON</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});"><img src='img/icons/json.png' width="24" /> JSON (ignoreColumn)</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'json',escape:'true'});"><img src='img/icons/json.png' width="24" /> JSON (with Escape)</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'xml',escape:'false'});"><img src='img/icons/xml.png' width="24" /> XML</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'sql'});"><img src='img/icons/sql.png' width="24" /> SQL</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'csv',escape:'false'});"><img src='img/icons/csv.png' width="24" /> CSV</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'txt',escape:'false'});"><img src='img/icons/txt.png' width="24" /> TXT</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'png',escape:'false'});"><img src='img/icons/png.png' width="24" /> PNG</a>
                                    </li>
                                    <li>
                                        <a href="#" onClick="$('#employeesList').tableExport({type:'pdf',escape:'false'});"><img src='img/icons/pdf.png' width="24" /> PDF</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table id="employeesList" class="table datatable">
                                <thead>
                                <tr>
                                    <th id="nameHead">Name</th>
                                    <th id="numberHead">Number</th>
                                    <th id="emailHead">Email</th>
                                </tr>
                                </thead>
                                {{#employees}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{phone_number}}</td>
                                        <td>{{email}}</td>
                                    </tr>
                                {{/employees}}
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END MANAGE EMPLOYEES DATATABLE -->
                </div>
            </div>
        </div>
        <!-- END CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<!-- START ADD MODAL-->
<div class="modal fade" id="addEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="exampleModalLabel">ADD EMPLOYEE</h2>
            </div>
            <div class="modal-body">
                <form method="POST" name="modalForm" class="form-horizontal ws-validate" id="addEmployeeForm">
                    <div class="form-group">
                        <label for="modalName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input name="name" type="text" class="form-control" id="modalName" placeholder="Jane Doe" required>
                            <p class="help-block" id="invalidName">Please enter first and last name. Ex: First Last</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modalNumber" class="col-sm-2 control-label">Number</label>
                        <div class="col-sm-10">
                            <input type="tel" name="number" class="form-control" id="modalNumber" required>
                            <p class="help-block" id="invalidNumber">Please enter a valid phone number Ex: 1234567890</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="modalEmail">Email</label>
                        <div class="col-sm-10">
                            <input type="email" name="email" class="form-control" id="modalEmail" placeholder="jane.doe@example.com" required>
                            <p class="help-block" id="invalidEmail">Please enter a valid email Ex: email@address.com</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-7">
                            <button type="submit" class="btn btn-primary" id="okbutton" disabled>OK</button>
                            <button class="btn btn-default" data-dismiss="modal" id="cancelbutton">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END ADD MODAL-->

<div class="modal fade" id="addEmployeeCSV" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="exampleModalLabel">ADD EMPLOYEES</h2>
            </div>
            <div class="modal-body">
                <form method="POST" action="/add_EmployeesCSV" name="modalCSVInput" class="form-horizontal ws-validate" id="addEmployeeCSVForm">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <p>Upload a CSV file containing your employees.</p>
                            <p class="help-block">Each line should formatted:<br>name, phone number, email</p>
                            <input type="file" name="file" class="form-control" accept="application/csv" id="modalFile" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-7">
                            <button type="submit" class="btn btn-primary" id="okbuttonCSV" >OK</button>
                            <button class="btn btn-default" data-dismiss="modal" id="cancelbuttonCSV">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

                <!-- SIGN OUT MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to log out?</p>
                <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SIGN OUT MESSAGE BOX-->

<!-- START PRELOADS -->
<audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
<audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>
<!-- END PRELOADS -->

<!-- START SCRIPTS -->
<!-- START PLUGINS -->
<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>
<!-- END PLUGINS -->

<!-- THIS PAGE PLUGINS -->
<script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="js/plugins/scrolltotop/scrolltopcontrol.js"></script>

<script type="text/javascript" src="js/plugins/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/tableExport.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/jquery.base64.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/html2canvas.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/jspdf/libs/sprintf.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/jspdf/jspdf.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/jspdf/libs/base64.js"></script>
<!-- END PAGE PLUGINS -->

<!-- START TEMPLATE -->
<script type="text/javascript" src="js/settings.js"></script>

<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/actions.js"></script>
<!-- END TEMPLATE -->

<script type="text/javascript" src="js/moment.min.js"></script>
<script type="text/javascript" src="js/bootstrap-sortable.js"></script>

<!-- START ADD EMPLOYEE  SCRIPT -->
<script type="text/javascript">
    $(function () {
        // Reset form when form is hidden
        $('.modal').on('hidden.bs.modal', function(){
            $(this).find('form')[0].reset();
        });
        // Require fields to be filled out
        $('input[name=name]').on('input', function () {
            if ($('#modalName').val() && $('#modalNumber').val() && $('#modalEmail').val())
                $('#okbutton').prop('disabled', false);
            else
                $('#okbutton').prop('disabled', true);
        });
        $('input[name=number]').on('input', function () {
            if ($('#modalName').val() && $('#modalNumber').val() && $('#modalEmail').val())
                $('#okbutton').prop('disabled', false);
            else
                $('#okbutton').prop('disabled', true);
        });
        $('input[name=email]').on('input', function () {
            if ($('#modalName').val() && $('#modalNumber').val() && $('#modalEmail').val())
                $('#okbutton').prop('disabled', false);
            else
                $('#okbutton').prop('disabled', true);
        });
        $('input[name=file]').on('input', function () {
            if ($('#modalFile').val())
                $('#okbuttonCSV').prop('disabled', false);
            else
                $('#okbuttonCSV').prop('disabled', true);
        });
        /*var pathname = window.location.href;
        var indexOfName = pathname.indexOf('name=');
        var indexOfNumber = pathname.indexOf('number=');
        var indexOfEmail = pathname.indexOf('email=');
        if(indexOfName != -1 && indexOfNumber != -1 && indexOfEmail != -1)
        {
            var name = pathname.substring(indexOfName+5, indexOfNumber-1);
            var number = pathname.substring(indexOfNumber+7, indexOfEmail-1);
            var email = pathname.substring(indexOfEmail+6);
            $('#employees').find('tbody').append('<tr><th style="width: 25%">' + name + '</th><th style="width: 25%">'  + number + '</th><th style="width: 50%">' + email + '</th></tr>');
        }*/
//        var rownumber = 0;
//        $('#okbutton').click(function () {
//            $('#employees').find('tbody').append('<tr id ="row' + rownumber + '"><td style="width: 25%">' + $('#modalName').val() + '</td><td style="width: 25%">' + $('#modalNumber').val() + '</td><td style="width: 40%">' + $('#modalEmail').val() + '</td><td style="width:10%;text-align:right"><a href = "#"><span class = "glyphicon glyphicon-pencil" id = "edit' + rownumber + '"></span></a><a href = "#" class = "delete"><span class = "glyphicon glyphicon-trash" id = "delete' + rownumber + '"></span></a><a href = "#"></a></td></tr>');
//            rownumber++;
//            $.bootstrapSortable(true);
//            $("#addEmployeeForm")[0].reset();
//        });
//        $('#cancelbutton').click(function () {
//            $("#addEmployeeForm")[0].reset();
//        });
    /*$('.delete').click(function(){
console.log("hi");
});
$('tr').mouseover(
function() {
alert('hi');
}, function() {
}
); */
}	);
</script>
<!-- END ADD EMPLOYEE SCRIPT -->
<!-- END SCRIPTS -->
</body>
</html>
