<!DOCTYPE html>
<html>
<head>
	<title>Re-Enter Password</title>
</head>

<body>
	    <div class="sign-up-forms">
	    	<h1 style="text-align: center">Admin password</h1>
        <form role="form">
            <div class="form-group">
                <input type="companyname" class="form-control" placeholder="Password">
            </div>
                <a href="Sign_in.html" class="btn btn-default btn-md"> <span class="network-name">Sign In</span></a>
        </form>
    </div>  
</body>
</html>