<!DOCTYPE html>
<html lang="en">

<head>

    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="Sign_in.css">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body>


    <div class = "sign-in">
        <h1>Billing Information</h1>
    </div>

    <div class="sign-up-forms">
        <form role="form">
            <div class="form-group">
                <input type="companyname" class="form-control" placeholder="Full Name">
            </div>
            <div class="form-group">
                <input type="companyemail" class="form-control" placeholder="Card Number">
            </div>
             <div class="form-group">
                <input type="companyemail" class="form-control" placeholder="Expiration Date">
            </div>
             <div class="form-group">
                <input type="companyemail" class="form-control" placeholder="Security Number">
            </div>

                <a href="Sign_in.html" class="btn btn-default btn-md"> <span class="network-name">Or Connect to Paypal</span></a>

                <a href="Sign_in.html" class="btn btn-default btn-md"> <span class="network-name">Submit</span></a>


        </form>
    </div>  
    </div>

</body>

</html>