<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META SECTION -->
    <title>Receptional</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- END META SECTION -->

    <link rel="stylesheet" type="text/css" href="css/styles.css" media="screen" />

    <!-- Script for Rollbar (Captures JS exceptions) -->
    <script>
        var _rollbarConfig = {
            accessToken: "91a2c9cd50784fb88107e52b567f71e3",
            captureUncaught: true,
            payload: {
                environment: "test"
            }
        };
        !function(r){function o(e){if(t[e])return t[e].exports;var n=t[e]={exports:{},id:e,loaded:!1};return r[e].call(n.exports,n,n.exports,o),n.loaded=!0,n.exports}var t={};return o.m=r,o.c=t,o.p="",o(0)}([function(r,o,t){"use strict";var e=t(1).Rollbar,n=t(2);_rollbarConfig.rollbarJsUrl=_rollbarConfig.rollbarJsUrl||"//d37gvrvc0wt4s1.cloudfront.net/js/v1.8/rollbar.min.js";var a=e.init(window,_rollbarConfig),i=n(a,_rollbarConfig);a.loadFull(window,document,!_rollbarConfig.async,_rollbarConfig,i)},function(r,o){"use strict";function t(r){return function(){try{return r.apply(this,arguments)}catch(o){try{console.error("[Rollbar]: Internal error",o)}catch(t){}}}}function e(r,o,t){window._rollbarWrappedError&&(t[4]||(t[4]=window._rollbarWrappedError),t[5]||(t[5]=window._rollbarWrappedError._rollbarContext),window._rollbarWrappedError=null),r.uncaughtError.apply(r,t),o&&o.apply(window,t)}function n(r){var o=function(){var o=Array.prototype.slice.call(arguments,0);e(r,r._rollbarOldOnError,o)};return o.belongsToShim=!0,o}function a(r){this.shimId=++s,this.notifier=null,this.parentShim=r,this._rollbarOldOnError=null}function i(r){var o=a;return t(function(){if(this.notifier)return this.notifier[r].apply(this.notifier,arguments);var t=this,e="scope"===r;e&&(t=new o(this));var n=Array.prototype.slice.call(arguments,0),a={shim:t,method:r,args:n,ts:new Date};return window._rollbarShimQueue.push(a),e?t:void 0})}function l(r,o){if(o.hasOwnProperty&&o.hasOwnProperty("addEventListener")){var t=o.addEventListener;o.addEventListener=function(o,e,n){t.call(this,o,r.wrap(e),n)};var e=o.removeEventListener;o.removeEventListener=function(r,o,t){e.call(this,r,o&&o._wrapped?o._wrapped:o,t)}}}var s=0;a.init=function(r,o){var e=o.globalAlias||"Rollbar";if("object"==typeof r[e])return r[e];r._rollbarShimQueue=[],r._rollbarWrappedError=null,o=o||{};var i=new a;return t(function(){if(i.configure(o),o.captureUncaught){i._rollbarOldOnError=r.onerror,r.onerror=n(i);var t,a,s="EventTarget,Window,Node,ApplicationCache,AudioTrackList,ChannelMergerNode,CryptoOperation,EventSource,FileReader,HTMLUnknownElement,IDBDatabase,IDBRequest,IDBTransaction,KeyOperation,MediaController,MessagePort,ModalWindow,Notification,SVGElementInstance,Screen,TextTrack,TextTrackCue,TextTrackList,WebSocket,WebSocketWorker,Worker,XMLHttpRequest,XMLHttpRequestEventTarget,XMLHttpRequestUpload".split(",");for(t=0;t<s.length;++t)a=s[t],r[a]&&r[a].prototype&&l(i,r[a].prototype)}return r[e]=i,i})()},a.prototype.loadFull=function(r,o,e,n,a){var i=function(){var o;if(void 0===r._rollbarPayloadQueue){var t,e,n,i;for(o=new Error("rollbar.js did not load");t=r._rollbarShimQueue.shift();)for(n=t.args,i=0;i<n.length;++i)if(e=n[i],"function"==typeof e){e(o);break}}"function"==typeof a&&a(o)},l=!1,s=o.createElement("script"),u=o.getElementsByTagName("script")[0],p=u.parentNode;s.crossOrigin="",s.src=n.rollbarJsUrl,s.async=!e,s.onload=s.onreadystatechange=t(function(){if(!(l||this.readyState&&"loaded"!==this.readyState&&"complete"!==this.readyState)){s.onload=s.onreadystatechange=null;try{p.removeChild(s)}catch(r){}l=!0,i()}}),p.insertBefore(s,u)},a.prototype.wrap=function(r,o){try{var t;if(t="function"==typeof o?o:function(){return o||{}},"function"!=typeof r)return r;if(r._isWrap)return r;if(!r._wrapped){r._wrapped=function(){try{return r.apply(this,arguments)}catch(o){throw o._rollbarContext=t()||{},o._rollbarContext._wrappedSource=r.toString(),window._rollbarWrappedError=o,o}},r._wrapped._isWrap=!0;for(var e in r)r.hasOwnProperty(e)&&(r._wrapped[e]=r[e])}return r._wrapped}catch(n){return r}};for(var u="log,debug,info,warn,warning,error,critical,global,configure,scope,uncaughtError".split(","),p=0;p<u.length;++p)a.prototype[u[p]]=i(u[p]);r.exports={Rollbar:a,_rollbarWindowOnError:e}},function(r,o){"use strict";r.exports=function(r,o){return function(t){if(!t&&!window._rollbarInitialized){var e=window.RollbarNotifier,n=o||{},a=n.globalAlias||"Rollbar",i=window.Rollbar.init(n,r);i._processShimQueue(window._rollbarShimQueue||[]),window[a]=i,window._rollbarInitialized=!0,e.processPayloads()}}}}]);
    </script>

    <!-- Scripts for Logentries -->
    <script src="frontend/js/le.min.js"></script>
    <script>
        // Set up le.js
        LE.init({token: '02da12dd-d09a-4c93-86da-ec1deb507831', page_info: 'per-entry'})
    </script>

</head>

<body>
    <!-- page container -->
    <div class="page-container">

        <!-- page header -->
        <div class="page-header">

            <!-- page header holder -->
            <div class="page-header-holder">

                <!-- page logo -->
                <div class="logo">
                    <a href="/">Receptional</a>
                </div>
                <!-- ./page logo -->

                <!-- nav mobile bars -->
                <div class="navigation-toggle">
                    <div class="navigation-toggle-button"><span class="fa fa-bars"></span></div>
                </div>
                <!-- ./nav mobile bars -->

                <!-- navigation -->
                <ul class="navigation">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    {{#if user}}
                        <li><a href="/logout">Log Out</a></li>
                    {{else}}
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/login">Owner Login</a></li>
                        <li><a href="/subdomain_login">Find Your Company</a></li>
                    {{/if}}
                </ul>
                <!-- ./navigation -->


            </div>
            <!-- ./page header holder -->

        </div>
        <!-- ./page header -->

        <!-- page content -->
        <div class="page-content">

            <!-- page content wrapper -->
            <div class="page-content-wrap bg-img-2 light-elements">
                <!-- page content holder -->
                <div class="page-content-holder">
                    <!-- TODO: Update this with Project info -->
                    <div class="block-heading block-heading-centralized this-animate" data-animate="fadeInDown">
                        <h1><strong>Receptional</strong> </h1>
                        <div class="block-heading-text">
                            The exceptional assistant you've been searching for!
                        </div>
                    </div>

                    <div class="block push-up-20">
                        <div class="row">
                            <div class="col-md-4">

                                <div class="text-column this-animate" data-animate="fadeInLeft">
                                    <h2>Made Just For You!</h2>
                                    <div class="text-column this-animatez">
                                        <ul>
                                            <li>Your very own personal assistant to make check-ins fast &amp; easy.</li>
                                            <li>Internal operations will be orgranized for efficiency! </li>
                                            <li>Interactive fun for everyone !</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="text-column this-animate" data-animate="fadeInLeft">

                                </div>
                            </div>
                            <div class="col-md-8 text-center this-animate" data-animate="fadeInRight">
                                <img src="assets/atlant_monitor.png" class="img-responsive-mobile" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./page content holder -->
            </div>
            <!-- ./page content wrapper -->

            <!-- page content wrapper -->
            <div class="page-content-wrap bg-img-1">

                <div class="divider">
                    <div class="box"><span class="fa fa-angle-down"></span></div>
                </div>

                <!-- page content holder -->
                <div class="page-content-holder">

                    <div class="row">
                        <div class="col-md-8 this-animate" data-animate="fadeInLeft">

                            <div class="block-heading block-heading-centralized">
                                <h2 class="heading-underline"><strong>FUN</strong>ctional</h2>
                                <div class="block-heading-text">
                                    <h4>Receptional is FUN to use. </h4>
                                    <p>Ever have moments where customers wait to check in? Was it from a long line?
                                        Or maybe your receptionist had to take a company call? Well then Receptional was built
                                        just for you!
                                    </p>
                                    
                                    <br>
                                    
                                    <h4>It's quick and  easy!</h4>
                                    <p>
                                    You can create your very own forms with our simple drag and drop feature!
                                    In a hurry? Use the provided default forms!
                                    </p>
                                    <p>
                                        <strong>No</strong> more hassling paperwork. 
                                        <strong>No</strong> more skipping customers! 
                                        And most importantly...<strong>No</strong> <i>unhappy</i> customers!
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 this-animate text-center" data-animate="fadeInRight">
                            <img src="assets/atlant_responsive.png" class="img-responsive-mobile" />
                        </div>
                    </div>



                </div>
                <!-- ./page content holder -->
            </div>
            <!-- ./page content wrapper -->

            <!-- page content wrapper -->
            <div class="page-content-wrap bg-texture-1 bg-dark light-elements">

                <div class="divider">
                    <div class="box"><span class="fa fa-angle-down"></span></div>
                </div>

                <!-- page content holder -->
                <div class="page-content-holder">

                    <div class="row">

                        <div class="col-md-4">
                            <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInLeft">
                                <div class="text-column-icon">
                                    <span class="fa fa-support"></span>
                                </div>
                                <h4>Do More</h4>
                                <div class="text-column-info">
                                    Our <strong>easy</strong> to use features allows you to do more with less work.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInUp">
                                <div class="text-column-icon">
                                    <span class="fa fa-expand"></span>
                                </div>
                                <h4>Save More</h4>
                                <div class="text-column-info">
                                    Your receptional assistant keeps things organized and efficient so you can save time and money.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInRight">
                                <div class="text-column-icon">
                                    <span class="fa fa-clock-o"></span>
                                </div>
                                <h4>Smile More</h4>
                                <div class="text-column-info">
                                    With less time in the waste bin and more money rolling in you can't help but smile more.
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- ./page content holder -->
            </div>
            <!-- ./page content wrapper -->

            <!-- page content wrapper -->
            <div class="page-content-wrap bg-light bg-texture-1">

                <div class="page-content-holder padding-v-40">
                    <div class="row row-centered">
                        <div class="col-md-4">

                            <div class="pricing-block">
                                <div class="pb-block">
                                    <h3>Basic</h3>
                                    <p>Everything your company needs to get started!</p>
                                </div>
                                <div class="pb-price">
                                    FREE<span></span>
                                </div>
                                <div class="pb-block">
                                    <p><span class="fa fa-check"></span> Lively Virtual Receptionist! </p>
                                    <p><span class="fa fa-check"></span> Unlimited visitor check ins</p>
                                    <p><span class="fa fa-check"></span> Customizable forms </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="pricing-block">
                                <div class="pb-block">
                                    <h3>Premium</h3>
                                </div>
                                <div class="pb-price">
                                    <span>$</span> 12 <span>/ per month</span>
                                </div>
                                <div class="pb-block">
                                    <p><span class="fa fa-check"></span> All the perks of the Basic Package!</p>
                                    <p><span class="fa fa-check"></span> Visitor Photos </p>
                                    <p><span class="fa fa-check"></span> SMS Hosting </p>
                                    <p><span class="fa fa-check"></span> Customer Support </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="pricing-block">
                                <div class="pb-block">
                                    <h3>Enterprise</h3>
                                </div>
                                <div class="pb-price">
                                    <span>$</span> 24 <span>/ per month</span>
                                </div>
                                <div class="pb-block">
                                    <p><span class="fa fa-check"></span> All the perks of the Basic Package!</p>
                                    <p><span class="fa fa-check"></span> All the perks of the Premium Package!</p>
                                    <p><span class="fa fa-check"></span> Data Analysis </p>
                                    <p><span class="fa fa-check"></span> Growth Charts </p>
                                    <p><span class="fa fa-check"></span> 24/7 Customer Support </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- ./page content holder -->
            </div>
            <!-- ./page content wrapper -->
        </div>
        <!-- ./page content -->

        <!-- page footer -->
        <div class="page-footer">

            <!-- page footer wrap -->
            <div class="page-footer-wrap bg-darken-gray">
                <!-- page footer holder -->
                <div class="page-footer-holder">

                    <!-- copyright -->
                    <div class="copyright">
                        &copy; 2016 <a href="#">Jackson 5</a> - All Rights Reserved
                    </div>
                    <!-- ./copyright -->

                </div>
                <!-- ./page footer holder -->
            </div>
            <!-- ./page footer wrap -->

        </div>
        <!-- ./page footer -->

    </div>
    <!-- ./page container -->

    <!-- page scripts -->
    <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/plugins/mixitup/jquery.mixitup.js"></script>
    <script type="text/javascript" src="js/plugins/appear/jquery.appear.js"></script>

    <script type="text/javascript" src="js/actions.js"></script>
    <!-- ./page scripts -->

    <script>
        LE.log("Home page was loaded");
    </script>
</body>

</html>