<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META SECTION -->
    <title>Receptional</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- END META SECTION -->

    <link rel="stylesheet" type="text/css" href="css/styles.css" media="screen" />
    <!-- Scripts for Logentries -->
    <script src="frontend/js/le.min.js"></script>
    <script>
        // Set up le.js
        LE.init({token: '02da12dd-d09a-4c93-86da-ec1deb507831', page_info: 'per-entry'})
    </script>

</head>

<body>
    <!-- page container -->
    <div class="page-container">

        <!-- page header -->
        <div class="page-header">

            <!-- page header holder -->
            <div class="page-header-holder">

                <!-- page logo -->
                <div class="logo">
                    <a href="/home">Receptional</a>
                </div>
                <!-- ./page logo -->


                <!-- search -->
                <div class="search">
                    <div class="search-button"><span class="fa fa-search"></span></div>
                    <div class="search-container animated fadeInDown">
                        <form action="#" method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search..." />
                                <div class="input-group-btn">
                                    <button class="btn btn-primary"><span class="fa fa-search"></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./search -->

                <!-- nav mobile bars -->
                <div class="navigation-toggle">
                    <div class="navigation-toggle-button"><span class="fa fa-bars"></span></div>
                </div>
                <!-- ./nav mobile bars -->

                <!-- navigation -->
                <ul class="navigation">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    {{#if user}}
                        <li><a href="/logout">Log Out</a></li>
                    {{else}}
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/login">Owner Login</a></li>
                        <li><a href="/subdomain_login">Find Your Company</a></li>
                    {{/if}}
                </ul>
                <!-- ./navigation -->


            </div>
            <!-- ./page header holder -->

        </div>
        <!-- ./page header -->

        <!-- page content -->
        <div class="page-content">

            <!-- page content wrapper -->
            <div class="page-content-wrap bg-img-2 light-elements">
                <!-- page content holder -->
                <div class="page-content-holder">
                    <!-- TODO: Update this with Project info -->
                    <div class="block-heading block-heading-centralized this-animate" data-animate="fadeInDown">
                        <h2><strong>Receptional</strong> </h2>
                        <div class="block-heading-text">
                            The exceptional assistant you've been searching for!
                        </div>
                    </div>

                    <div class="block push-up-20">
                        <div class="row">
                            <div class="col-md-4">

                                <div class="text-column this-animate" data-animate="fadeInLeft">
                                    <h4>Made Just For You!</h4>
                                    <div class="text-column this-animatez">
                                        <ul>
                                            <li>Your very own personal assistant to make check-ins fast &amp; easy.</li>
                                            <li>Internal operations will be orgranized for efficiency! </li>
                                            <li> Interactive fun for everyone !</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="text-column this-animate" data-animate="fadeInLeft">

                                </div>
                            </div>
                            <div class="col-md-8 text-center this-animate" data-animate="fadeInRight">
                                <img src="assets/atlant_monitor.png" class="img-responsive-mobile" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./page content holder -->
            </div>
            <!-- ./page content wrapper -->

            <!-- page content wrapper -->
            <div class="page-content-wrap bg-img-1">

                <div class="divider">
                    <div class="box"><span class="fa fa-angle-down"></span></div>
                </div>

                <!-- page content holder -->
                <div class="page-content-holder">

                    <div class="row">
                        <div class="col-md-8 this-animate" data-animate="fadeInLeft">

                            <div class="block-heading block-heading-centralized">
                                <h2 class="heading-underline"><strong>FUN</strong>ctional</h2>
                                <div class="block-heading-text">
                                    Receptional is easy and FUN to use. If your business always have long waits,
                                    and lots of customers to keep track of Receptional is just for you! You can
                                    create your very own forms or use the default provided for you and all you have
                                    to do is wait as customers sign in. No hastles with paperwork, no skipping customers
                                    and most important no unhappy customers!
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 this-animate text-center" data-animate="fadeInRight">
                            <img src="assets/atlant_responsive.png" class="img-responsive-mobile" />
                        </div>
                    </div>



                </div>
                <!-- ./page content holder -->
            </div>
            <!-- ./page content wrapper -->

            <!-- page content wrapper -->
            <div class="page-content-wrap bg-texture-1 bg-dark light-elements">

                <div class="divider">
                    <div class="box"><span class="fa fa-angle-down"></span></div>
                </div>

                <!-- page content holder -->
                <div class="page-content-holder">

                    <div class="row">

                        <div class="col-md-4">
                            <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInLeft">
                                <div class="text-column-icon">
                                    <span class="fa fa-support"></span>
                                </div>
                                <h4>Do More</h4>
                                <div class="text-column-info">
                                    Our <strong>easy</strong> to use features allows you to do more with less work.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInUp">
                                <div class="text-column-icon">
                                    <span class="fa fa-expand"></span>
                                </div>
                                <h4>Save More</h4>
                                <div class="text-column-info">
                                    Your receptional assistant keeps things organized and efficient so you can save time and money.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInRight">
                                <div class="text-column-icon">
                                    <span class="fa fa-clock-o"></span>
                                </div>
                                <h4>Smile More</h4>
                                <div class="text-column-info">
                                    With less time in the waste bin and more money rolling in you can't help but smile more.
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- ./page content holder -->
            </div>
            <!-- ./page content wrapper -->

            <!-- page content wrapper -->
            <div class="page-content-wrap bg-light bg-texture-1">

                <div class="page-content-holder padding-v-40">
                    <div class="row row-centered">
                        <div class="col-md-4">

                            <div class="pricing-block">
                                <div class="pb-block">
                                    <h3>Basic</h3>
                                    <p>Everything your company needs to get started!</p>
                                </div>
                                <div class="pb-price">
                                    FREE<span></span>
                                </div>
                                <div class="pb-block">
                                    <p><span class="fa fa-check"></span> Lively Virtual Recptionist! </p>
                                    <p><span class="fa fa-check"></span> Unlimited visitor check ins</p>
                                    <p><span class="fa fa-check"></span> Customizable forms </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="pricing-block">
                                <div class="pb-block">
                                    <h3>Premium</h3>
                                </div>
                                <div class="pb-price">
                                    <span>$</span> 12 <span>/ per month</span>
                                </div>
                                <div class="pb-block">
                                    <p><span class="fa fa-check"></span> All the perks of the Basic Package!</p>
                                    <p><span class="fa fa-check"></span> Visitor Photos </p>
                                    <p><span class="fa fa-check"></span> SMS Hosting </p>
                                    <p><span class="fa fa-check"></span> Customer Support </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="pricing-block">
                                <div class="pb-block">
                                    <h3>Enterprise</h3>
                                </div>
                                <div class="pb-price">
                                    <span>$</span> 24 <span>/ per month</span>
                                </div>
                                <div class="pb-block">
                                    <p><span class="fa fa-check"></span> All the perks of the Basic Package!</p>
                                    <p><span class="fa fa-check"></span> All the perks of the Premium Package!</p>
                                    <p><span class="fa fa-check"></span> Data Analysis </p>
                                    <p><span class="fa fa-check"></span> Growth Charts </p>
                                    <p><span class="fa fa-check"></span> 24/7 Customer Support </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- ./page content holder -->
            </div>
            <!-- ./page content wrapper -->
        </div>
        <!-- ./page content -->

        <!-- page footer -->
        <div class="page-footer">

            <!-- page footer wrap -->
            <div class="page-footer-wrap bg-darken-gray">
                <!-- page footer holder -->
                <div class="page-footer-holder">

                    <!-- copyright -->
                    <div class="copyright">
                        &copy; 2016 <a href="#">Jackson 5</a> - All Rights Reserved
                    </div>
                    <!-- ./copyright -->

                    <!-- social links -->
                    <div class="social-links">
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-google-plus"></span></a>
                        <a href="#"><span class="fa fa-linkedin"></span></a>
                        <a href="#"><span class="fa fa-vimeo-square"></span></a>
                        <a href="#"><span class="fa fa-dribbble"></span></a>
                    </div>
                    <!-- ./social links -->

                </div>
                <!-- ./page footer holder -->
            </div>
            <!-- ./page footer wrap -->

        </div>
        <!-- ./page footer -->

    </div>
    <!-- ./page container -->

    <!-- page scripts -->
    <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/plugins/mixitup/jquery.mixitup.js"></script>
    <script type="text/javascript" src="js/plugins/appear/jquery.appear.js"></script>

    <script type="text/javascript" src="js/actions.js"></script>
    <!-- ./page scripts -->

    <script>
        LE.log("Home page was loaded");
    </script>
</body>

</html>