<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META SECTION -->
    <title>Receptional</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- END META SECTION -->

    <link rel="stylesheet" type="text/css" href="css/styles.css" media="screen" />
    <script src="/frontend/js/le.min.js"></script>
    <script>
        // Set up le.js
        LE.init('02da12dd-d09a-4c93-86da-ec1deb507831');
    </script>

</head>

<body>
    <!-- page container -->
    <div class="page-container">

        <!-- page header -->
        <div class="page-header">

            <!-- page header holder -->
            <div class="page-header-holder">

                <!-- page logo -->
                <div class="logo">
                    <a href="/">iReceptionist</a>
                </div>
                <!-- ./page logo -->


                <!-- search -->
                <div class="search">
                    <div class="search-button"><span class="fa fa-search"></span></div>
                    <div class="search-container animated fadeInDown">
                        <form action="#" method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search..." />
                                <div class="input-group-btn">
                                    <button class="btn btn-primary"><span class="fa fa-search"></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- ./search -->

                <!-- nav mobile bars -->
                <div class="navigation-toggle">
                    <div class="navigation-toggle-button"><span class="fa fa-bars"></span></div>
                </div>
                <!-- ./nav mobile bars -->

                <!-- navigation -->
                <ul class="navigation">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    {{#if user}}
                        <li><a href="/logout">Log Out</a></li>
                    {{else}}
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/login">Login As Owner</a></li>
                    {{/if}}
                </ul>
                <!-- ./navigation -->


            </div>
            <!-- ./page header holder -->

        </div>
        <!-- ./page header -->

        <!-- page content -->
        <div class="page-content">

            <!-- page content wrapper -->
            <div class="page-content-wrap bg-img-2 light-elements">
                <!-- page content holder -->
                <div class="page-content-holder">
                    <!-- TODO: Update this with Project info -->
                    <div class="block-heading block-heading-centralized this-animate" data-animate="fadeInDown">
                        <h2><strong>iReceptionist</strong> </h2>
                        <div class="block-heading-text">
                            The exceptional assistant you've been searching for
                        </div>
                    </div>

                    <div class="block push-up-20">
                        <div class="row">
                            <div class="col-md-4">

                                <div class="text-column this-animate" data-animate="fadeInLeft">
                                    <h4>100% Responsive</h4>
                                    <div class="text-column-info">
                                        This allows you to create web applications of varying complexity for different devices
                                    </div>
                                </div>
                                <div class="text-column this-animate" data-animate="fadeInLeft">
                                    <h4>Admin Template</h4>
                                    <div class="text-column-info">
                                        Based on latest jQuery and Bootstrap3. You will get 40+ pages with samples and ready-to-use styled UI elements. Also template powered with 40+ jQuery and JavaScript plguins.
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-8 text-center this-animate" data-animate="fadeInRight">
                                <img src="assets/atlant_monitor.png" class="img-responsive-mobile" />
                            </div>
                        </div>
                    </div>

                </div>
                <!-- ./page content holder -->
            </div>
            <!-- ./page content wrapper -->

            <!-- page content wrapper -->
            <div class="page-content-wrap bg-img-1">

                <div class="divider">
                    <div class="box"><span class="fa fa-angle-down"></span></div>
                </div>

                <!-- page content holder -->
                <div class="page-content-holder">

                    <div class="row">
                        <div class="col-md-8 this-animate" data-animate="fadeInLeft">

                            <div class="block-heading block-heading-centralized">
                                <h2 class="heading-underline">Optimized for mobile devices</h2>
                                <div class="block-heading-text">
                                    Proin luctus nulla fringilla massa euismod commodo. Donec sit amet elementum libero. Curabitur ut lorem id tellus malesuada tincidunt et eget purus. Cras molestie, velit quis viverra ultrices, tortor erat suscipit arcu, a ullamcorper neque lorem et massa. Praesent facilisis tellus nec rutrum luctus. Curabitur non venenatis metus, vitae rhoncus risus. Donec quis mattis est. Proin ut augue vel odio condimentum ornare.
                                </div>
                            </div>
                            <div class="block this-animate" data-animate="fadeInLeft">
                                <img src="assets/atlant_technologies.png" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-md-4 this-animate text-center" data-animate="fadeInRight">
                            <img src="assets/atlant_responsive.png" class="img-responsive-mobile" />
                        </div>
                    </div>



                </div>
                <!-- ./page content holder -->
            </div>
            <!-- ./page content wrapper -->

            <!-- page content wrapper -->
            <div class="page-content-wrap bg-texture-1 bg-dark light-elements">

                <div class="divider">
                    <div class="box"><span class="fa fa-angle-down"></span></div>
                </div>

                <!-- page content holder -->
                <div class="page-content-holder">

                    <div class="row">

                        <div class="col-md-4">
                            <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInLeft">
                                <div class="text-column-icon">
                                    <span class="fa fa-support"></span>
                                </div>
                                <h4>Free Updates & Support</h4>
                                <div class="text-column-info">
                                    We provide <strong>free</strong> support for each customer who purchase template. We will do our best to help you.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInUp">
                                <div class="text-column-icon">
                                    <span class="fa fa-expand"></span>
                                </div>
                                <h4>Responsive & Retina Ready</h4>
                                <div class="text-column-info">
                                    Template builded using newest technologies, that gives you possibilities use it wherever you want.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="text-column text-column-centralized tex-column-icon-lg this-animate" data-animate="fadeInRight">
                                <div class="text-column-icon">
                                    <span class="fa fa-clock-o"></span>
                                </div>
                                <h4>Time Saver</h4>
                                <div class="text-column-info">
                                    With this template you will save really many time. And it's <strong>only $23</strong>.
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- ./page content holder -->
            </div>
            <!-- ./page content wrapper -->

            <!-- page content wrapper -->
            <div class="page-content-wrap bg-light bg-texture-1">

                <div class="page-content-holder padding-v-30">

                    <div class="row">
                        <div class="col-md-3">

                            <div class="pricing-block">
                                <div class="pb-block">
                                    <h3>Free</h3>
                                    <p>Proin luctus nulla fringilla massa euismod commodo. Donec sit amet elementum libero.</p>
                                </div>
                                <div class="pb-price">
                                    FREE<span></span>
                                </div>
                                <div class="pb-block">
                                    <p><span class="fa fa-check"></span> Donec sit amet</p>
                                    <p><span class="fa fa-check"></span> Curabitur ut lorem</p>
                                    <p><span class="fa fa-times text-danger"></span> Lorem ipsum dolor</p>
                                    <p><span class="fa fa-times text-danger"></span> Praesent facilisis tellus </p>
                                    <p><span class="fa fa-times text-danger"></span> Curabitur non venenatis</p>
                                    <p><span class="fa fa-times text-danger"></span> Donec quis mattis est</p>
                                </div>
                                <!--
                                <div class="pb-block">
                                    <button class="btn btn-primary btn-block">Sing In</button>
                                </div> -->
                            </div>

                        </div>
                        <div class="col-md-3">

                            <div class="pricing-block">
                                <div class="pb-block">
                                    <h3>Beginner</h3>
                                    <p>Proin luctus nulla fringilla massa euismod commodo. Donec sit amet elementum libero.</p>
                                </div>
                                <div class="pb-price">
                                    <span>$</span> 8 <span>/ per month</span>
                                </div>
                                <div class="pb-block">
                                    <p><span class="fa fa-check"></span> Donec sit amet</p>
                                    <p><span class="fa fa-check"></span> Curabitur ut lorem</p>
                                    <p><span class="fa fa-check"></span> Lorem ipsum dolor</p>
                                    <p><span class="fa fa-times text-danger"></span> Praesent facilisis tellus </p>
                                    <p><span class="fa fa-times text-danger"></span> Curabitur non venenatis</p>
                                    <p><span class="fa fa-times text-danger"></span> Donec quis mattis est</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">

                            <div class="pricing-block">
                                <div class="pb-block">
                                    <h3>Medium</h3>
                                    <p>Proin luctus nulla fringilla massa euismod commodo. Donec sit amet elementum libero.</p>
                                </div>
                                <div class="pb-price">
                                    <span>$</span> 12 <span>/ per month</span>
                                </div>
                                <div class="pb-block">
                                    <p><span class="fa fa-check"></span> Donec sit amet</p>
                                    <p><span class="fa fa-check"></span> Curabitur ut lorem</p>
                                    <p><span class="fa fa-check"></span> Lorem ipsum dolor</p>
                                    <p><span class="fa fa-check"></span> Praesent facilisis tellus </p>
                                    <p><span class="fa fa-times text-danger"></span> Curabitur non venenatis</p>
                                    <p><span class="fa fa-times text-danger"></span> Donec quis mattis est</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-3">

                            <div class="pricing-block">
                                <div class="pb-block">
                                    <h3>Premium</h3>
                                    <p>Proin luctus nulla fringilla massa euismod commodo. Donec sit amet elementum libero.</p>
                                </div>
                                <div class="pb-price">
                                    <span>$</span> 19 <span>/ per month</span>
                                </div>
                                <div class="pb-block">
                                    <p><span class="fa fa-check"></span> Donec sit amet</p>
                                    <p><span class="fa fa-check"></span> Curabitur ut lorem</p>
                                    <p><span class="fa fa-check"></span> Lorem ipsum dolor</p>
                                    <p><span class="fa fa-check"></span> Praesent facilisis tellus </p>
                                    <p><span class="fa fa-check"></span> Curabitur non venenatis</p>
                                    <p><span class="fa fa-check"></span> Donec quis mattis est</p>
                                </div> 
                            </div>

                        </div>
                    </div>

                </div>
                <!-- ./page content holder -->
            </div>
            <!-- ./page content wrapper -->
        </div>
        <!-- ./page content -->

        <!-- page footer -->
        <div class="page-footer">

            <!-- page footer wrap -->
            <div class="page-footer-wrap bg-darken-gray">
                <!-- page footer holder -->
                <div class="page-footer-holder">

                    <!-- copyright -->
                    <div class="copyright">
                        &copy; 2016 <a href="#">Jackson 5</a> - All Rights Reserved
                    </div>
                    <!-- ./copyright -->

                    <!-- social links -->
                    <div class="social-links">
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-google-plus"></span></a>
                        <a href="#"><span class="fa fa-linkedin"></span></a>
                        <a href="#"><span class="fa fa-vimeo-square"></span></a>
                        <a href="#"><span class="fa fa-dribbble"></span></a>
                    </div>
                    <!-- ./social links -->

                </div>
                <!-- ./page footer holder -->
            </div>
            <!-- ./page footer wrap -->

        </div>
        <!-- ./page footer -->

    </div>
    <!-- ./page container -->

    <!-- page scripts -->
    <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/plugins/mixitup/jquery.mixitup.js"></script>
    <script type="text/javascript" src="js/plugins/appear/jquery.appear.js"></script>

    <script type="text/javascript" src="js/actions.js"></script>
    <!-- ./page scripts -->

    <script>
        LE.log("Home page was loaded");
    </script>
</body>

</html>