<!DOCTYPE html>
<html lang="en" class="body-full-height">
    <head>        
        <!-- META SECTION -->
        <title>Employee Login</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css"/>
        <!-- EOF CSS INCLUDE -->

        <!-- Scripts for Logentries -->
        <script src="frontend/js/le.min.js"></script>
        <script>
            // Set up le.js
            LE.init('02da12dd-d09a-4c93-86da-ec1deb507831');
        </script>

        

    </head>

    <script  src="http://code.jquery.com/jquery-1.9.1.min.js" ></script> 
    <script type="text/javascript">
            $(function (){
                 document.getElementById("subdomain").innerHTML = localStorage.getItem("subdomain");
            });
    </script>

    <body>
        
        <div class="login-container">
        
            <div class="login-box animated fadeInDown">
                <div class=""></div>
                <div class="login-body">
                    <div class="login-title"><strong id="subdomain"> </strong> <strong> - Employee Login</strong></div>
                    <form class="form-horizontal" method="post">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="email" name="email" class="form-control" placeholder="Username"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="password" name="password" class="form-control" placeholder="Password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-link btn-block">Forgot your password?</a>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-info btn-block">Log In</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="login-footer">
                    <div class="pull-left">
                        &copy; 2016 Receptional
                    </div>
                    <div class="pull-right">
                        <a href="#">About</a> |
                        <a href="#">Privacy</a> |
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
            
        </div>

        <script>
            LE.log("Employee Loging page was loaded with subdomain: " + {{subdomain}});
        </script>

    </body>
</html>






