<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-sortable.css" />
		<link rel="stylesheet" type="text/css" href="css/entry.css" />
		<script src="js/bootstrap-sortable.js"></script>
	</head>

	<body>
		<div class="container">
			<h2>Patient Queue</h2>
			<table class="table">
				<thead style="font-size: 20px;">
					<tr>
						<th>#</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Phone</th>
						<th>Email</th>
						<th>Time in</th>
						<th>Time out</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Anthony</td>
						<td>(123)456-7890</td>
						<td>markanthony@hotmail.com</td>
						<td>8:50 A.M.</td>
						<td>9:40 A.M.</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Sam</td>
						<td>Wise</td>
						<td>(098)765-4321</td>
						<td>samwise@yahoo.com</td>
						<td>10:10 A.M.</td>
						<td>12:10 P.M.</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Valentino</td>
						<td>Do</td>
						<td>(141)854-3948</td>
						<td>valentinodo@aim.com</td>
						<td>1:30 P.M.</td>
						<td>2:10 P.M.</td>
					</tr>
				</tbody>
			</table>
		</div>

	</body>
</html>