<div class="page-header">
  <h2><i style="color: #335397" class="fa fa-facebook-square"></i>Facebook API</h2>
</div>
<div class="btn-group btn-group-justified"><a href="https://developers.facebook.com/docs/graph-api/quickstart/" target="_blank" class="btn btn-primary"><i class="fa fa-check-square-o"></i>Quickstart</a><a href="https://developers.facebook.com/tools/explorer" target="_blank" class="btn btn-primary"><i class="fa fa-facebook"></i>Graph API Explorer</a><a href="https://developers.facebook.com/docs/graph-api/reference/" target="_blank" class="btn btn-primary"><i class="fa fa-code-fork"></i>API Reference</a></div>
<h3><i class="fa fa-user">
</i> My Profile</h3><img src="https://graph.facebook.com/picture?type=large" width="90" height="90" class="thumbnail"/>
<h3><i class="fa fa-group"></i> My Friends</h3>